<!DOCTYPE html>
<html>

<head>

    <style>
        body {
            font-size: 10px;
        }
        table{
            margin: 0 auto;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        .on{
            background-color:  rgb(117, 117, 117);
        }

        .off{
            background-color:  rgb(255, 255, 255);
        }

        .main-class {
            margin-left: 70px;
            margin-right: 70px;
            margin-top: 70px;
        }
        .center-text{
            text-align: center;
        }
    </style>

</head>

<body>
    <div class="main-class">
        <h3 class="center-text">Matriz</h3>
        <table>
            {{#each matriz}}
            <tr>
                {{#each this}}
                    
                    {{#if (isOff this)}}
                        <td class="off">{{this}}</td>
                    {{else}}
                        <td class="on">{{this}}</td>
                    {{/if}}


                {{/each}}
            </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>